* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Titles will go with the font: Salsa */
/* Normal Text with Noto Sans */
header {
    background-image: url("../assets/Header.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: white;
    width: 100%;
    height: 25vh;
    display: flex;
    justify-content:space-between;
    align-items: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    flex-wrap: wrap;
    padding-top: 30px;
}

@media (max-width: 768px) {
    header{
        flex-direction: column;
    }
}

.navContainer{
    display: flex;
}

h1{
    font-size: 50px;
}