footer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75px;
    margin: 25px;
}

.logo{
    height: auto;
    width: 50px;
  
}

a{
    margin: 30px;
    padding-top:60px;
}