#content{
    background-color: rgb(121, 133, 118);
    height: 100%;
    padding: 20px;
}

#picture{
    width: 200px;
    height: 200px;
    overflow: hidden;

}

.pageTitle{
    margin: 10px;
    font-size: 40px;
    color:rgb(64,99,65);
    padding-left:600px;
}

.content{
    text-align: left;
    align-items: center;
}

#image{
    text-align: center;
    margin: 20px;
}

#infoPicture img{
    text-align: left;
}

p{
    margin: 5px;
    font-size: 22px;
    padding:0 20px;
    background-color:rgb(54,97,72);
    color:white;
}

#download{
    margin: 20px;
     color: white;
    padding-left:10px;
    margin-left:5px;
}

form{
    margin: 15px;
}

label{
    margin: 15;
}

input{
    margin: 15px;
}

h2, h3{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h3{
    font-size: larger;
}



p, ul, label{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif';
}

ul{
    margin: 25px;
    margin-left: 80px;
}

#resumeContent{
    margin-left: 30px;
}

input{
    height: 30px;
    border-radius: 5px;
    width: 400px;
}

button{
    height: 40px;
    width: 80px;
    margin: 20px;
    background-color:rgb(56, 87, 56); 
    color: white;
    border-radius: 10px;
}

button:hover{
    background-color: rgb(56, 88, 56);
    font-weight: bolder;
}

#enterMessage{
    height: 80px;
}

#resumeLink{

    color: rgb(255, 255, 255);


}

.Bio{
    margin-bottom: 40px;
    text-align: center;
    color: whitesmoke;
}

